extends layout

block content
  header.header
    h1.header__title= title
    p.header__description= description

  section.container
    video.container__video#video(autoplay, loop, audio='muted', poster="/movies/video_poster.gif")
      source(src='/movies/video.mp4', type="video/mp4")

    canvas.container__canvas#canvas(width='1280', height='720')

    //- .hoge= weather[0].id