extends layout

block content
  header.header
    h1.header__title= title
    p.header__description= description

  .container
    video.container__video#video(autoplay, loop, audio='muted')
      source(src='/movies/video.mp4', type="video/mp4")

    canvas.container__canvas#canvas(width='1280', height='720')