script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
- if (ua === 'iOS' || ua === 'Android' || ua === 'iPad')
  script(src="http://ozora-otenki.tumblr.com/api/read/json?num=8&amp;type=photo")
  script(src="/javascripts/tumblr_background_imager.js")
script(src="/javascripts/script.js")
<!--[if lt IE 9]>
script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
<![endif]-->