@import 'nib'
@import '../components/normalize.styl/normalize.styl'


*
  box-sizing border-box

body
  font-family "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  background-color rgb(242, 242, 242)
  color #fff


.header
  display none


.container
  transition-duration 600ms
  transition-timing-function ease
  transition-property all
  opacity 0
  visibility hidden

.container--shown
  opacity 1
  visibility visible


.container__video
  position fixed
  min-width 100%
  min-height 100%
  top 50%
  left 50%
  transform translate(-50%,-50%)
  opacity .4


.container__canvas
  position fixed
  top 0
  left 0
  // opacity 0.9